/* From Uiverse.io by Spacious74 */ 

.hoverButton {
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #f1c32bf3;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.hoverContainer {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #a16207, #facc15);
  border-radius: 0.9em;
  transition: all 0.4s ease;
}

.hoverContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.hoverContainer:hover::before {
  background: linear-gradient(90deg, #facc15, #a16207);
  filter: blur(1.2em);
}
.HoverContainer:active::before {
  filter: blur(0.2em);
}
